*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    width: 90%;
    margin: auto;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-title{
    margin: 10px;
}

.nav-menu{
    transition: 500ms;
}





.form-group{
    list-style: none;
}




.form-list{
    padding: 10px;
    width: 100px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}
.form-list a{
    text-decoration: none;
}
.form-list:hover{
    opacity: 90%;
}




.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.flex-auto{
    display: flex;
    justify-content: space-between;
}

/* Rounded */
    .rounded-10{
        border-radius: 10px;
    }
    .rounded-9{
        border-radius: 9px;
    }
    .rounded-8{
        border-radius: 8px;
    }
    .rounded-7{
        border-radius: 7px;
    }
    .rounded-6{
        border-radius: 6px;
    }
    .rounded-5{
        border-radius: 5px;
    }
/* Rounded */




/* Colors */
    .bg-primary{
        background-color: rgba(245, 137, 36);
    }
    .bg-danger{
        background-color: rgb(228, 31, 57);
    }
    .bg-success{
        background-color: rgb(29, 230, 96);
    }
    .bg-done{
        background-color: rgb(82, 85, 226);
    }

    .bg-dark-1{
        background-color: rgb(56, 56, 58);
    }
    .bg-dark-2{
        background-color: rgb(43, 43, 44);
    }
    .bg-dark-3{
        background-color: rgb(35, 35, 36);

    }

    .bg-light-grey{
        background-color: rgb(177, 170, 170);
    }

    .primary{
        color: rgb(241, 130, 26);
    }
    .danger{
        color: rgb(228, 31, 57);
    }
    .success{
        color: rgb(29, 230, 96);
    }
    .done{
        color: rgb(73, 73, 224);
    }




    .light-1{
        color: rgb(230, 251, 255);
    }
    .light-2{
        color: rgb(241, 248, 250);
    }
    .light-3{
        color: #fff;
    }

    .dark-1{
        color: rgb(56, 56, 58);
    }
    .dark-2{
        color: rgb(43, 43, 44);
    }
    .dark-3{
        color: rgb(35, 35, 36);
    }
/* Colors */

m-auto{
    margin: auto;
}
.mt-20{
    margin-top: 20px;
}
.mt-15{
    margin-top: 15px;
}
.mt-10{
    margin-top: 10px;
}
.mt-8{
    margin-top: 8px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-8{
    margin-bottom: 8px;
}
/*  */
.pt-20{
    padding-top: 20px;
}
.pt-15{
    padding-top: 15px;
}
.pt-10{
    padding-top: 10px;
}
.pt-8{
    padding-top: 8px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-8{
   padding-bottom: 8px;
}
/*  */
.pl-20{
    padding-left: 20px;
}
.pl-15{
    padding-left: 15px;
}
.pl-10{
    padding-left: 10px;
}
.pl-8{
    padding-left: 8px;
}
.pr-20{
    padding-right: 20px;
}
.pr-15{
    padding-right: 15px;
}
.pr-10{
    padding-right: 10px;
}
.pr-8{
   padding-right: 8px;
}
/*  */
.logo{
    font-style: italic;
    font-size: 20px;
}
.justify{
    text-align: justify;
}

.ml-0{
    margin-left: 0;
}



.content-table{
    border-collapse: collapse;    
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 200px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
}
.content-table thead tr{
    background-color: rgb(56, 56, 58);
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 20px solid rgb(56, 56, 58);
}
.content-table tbody tr.active-row{
    font-weight: bold;
    color: rgb(56, 56, 58);
}








.btn-min{
    text-decoration: none;
    height: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    font-size: 12px;
}

.btn{
    border: none;
    height: 35px;
    font-size: medium;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0px 3px 2px #888888;
}
.btn:hover{
    opacity: 80%;
}




.w100{
    width: 100%;
}


.container-mini-form{
    padding: 20px;
    width: 600px;
}








.menu-icon{
    width: 32px;
    height: 2px;
    margin: 3px;
    border-radius: 3px;
}
.base-menu-icon{
    display: none;
    margin-right: 35px ;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 4px;
}
.base-menu-icon:hover{
    background-color: rgba(255, 255, 255, 0.1);
}



input[type=text]{
    font-size: medium;
}
input[type=email]{
    font-size: medium;
}
input[type=number]{
    font-size: medium;
}










/* Media screen */

@media screen and (max-width: 992px){
    /* .transform-out{
        margin-right: 0;
    } */
}

/* Tablet */
@media screen and (max-width: 798px){
    .nav-menu{
        position: absolute;
        opacity: 85%;
        transform: translateY(54px);
        right: 0;
        width: 300px;
        background-color: #000;
    }
    .base-menu-icon{
        display: flex; 
        flex-direction: column; 
    }
    .navbar{
        justify-content: space-between;
    }
    .nav-title{
        margin-left: 35px;
    }
    .form-group{
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .form-list{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #000;
        width: 100%;
    }
    .form-list:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }
    .container-mini-form{
        width: 80%;
    }    
    table{
        font-size:small;
    }
    
}

/* Mobile */
@media screen and (max-width: 576px){
    .container-mini-form{
        width: 90%;
    }
    table{
        font-size:x-small;
    }
}

/* Mobile */
@media screen and (max-width: 320px){

}





.transform-out{
    margin-right: -300px;
    opacity: 0%;
    /* display: none; */
}