@font-face{
    src: url(Assets/Fonts/Lobster/Lobster-Regular.ttf);
    font-family: lobster; 
}
@font-face{
    src: url(Assets/Fonts/Rajdhani/Rajdhani-Medium.ttf);
    font-family: rajdhani;
}


* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    font-family: rajdhani;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;right: 0;left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .icons{
    position: relative;
    font-size: 23px;
    left: 15px;
    font-family: lobster, Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: #fff;
}

nav .burger,
nav input[type='checkbox']{
    position: absolute;
    right: 5%;
    display: none;
}
nav input[type='checkbox']{
    z-index: 1;
    height: 30px;
    width: 30px;
    opacity: 0;
}
nav .burger {
    height: 30px;
    width: 30px;
}
nav .burger span {
    width: 30px;
    height: 1px;
    background-color: #5b65ee;
}
nav ul{
    position: relative;
    display: flex;
    right: 5%;
    transition: 0.2s;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px;
    color: #5b65ee;
    font-size: 18px;
    transition: 0.5s;
}
nav ul li a:hover{
    transform: translate(0,3px);
}








.images{
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    box-sizing: border-box;
    
}
.images img{
    width: 50vw;
    max-width: 300px;
}











@media screen and (max-width : 440px){
    nav input[type=checkbox],
    nav .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    nav input[type=checkbox]:checked ~ ul {
        opacity: 1;
    }
    
    nav ul{
        position: absolute;
        flex-direction: column;
        top: 50px;right: 0;
        align-items: flex-end;
        opacity: 0;
    }
    
}


















































































.back-contrast{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: contrast(10);
    z-index: -1;
}
.back-contrast .ball1{
    position: absolute;
    height: 45px;
    min-width: 100px;
    top: 10px;
    left: 5px;
    border-radius: 25px;
    background-color: blue;
    filter: blur(10px);
    z-index: 1;;
}
.back-contrast .ball2{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 50px;
    border-radius: 25px;
    background-color: blue;
    filter: blur(10px);
    z-index: 1;
    animation: anim1 12s infinite;
}
.back-contrast .ball3{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 60px;
    border-radius: 25px;
    background-color: blue;
    filter: blur(10px);
    z-index: 1;
    animation: anim2 20s infinite;
}
@keyframes anim1 {
    0%{
        transform: translate(0,0);
    }
    20%{
        transform: translate(0,10px);
    }
    50%{
        transform: translate(-40px,20px);
    }
    70%{
        transform: translate(-50px,20px);
    }
    80%{
        transform: translate(-50px,-10px);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes anim2 {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,10px);
    }
    80%{
        transform: translate(0,27px);
    }
    95%{
        transform: translate(0,39px);
    }
    100%{
        transform: translate(0,500vh);
    }

}












