body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
    background-color: rgb(32, 26, 26);
}

.form-border {
    position: relative;
    margin: 10px auto;
    max-width: 300px;
    min-width: 300px;
    border: 1px solid rgba(255, 255, 255,0.5);
    padding: 10px 20px;  
}

.form-border .form-title {
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;    
}

.form-border .form-title span{
    color: rgb(255, 157, 0);
 }

.form-border .form-group {
    margin: auto;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    color: rgb(97, 250, 255);
}

.form-border .form-group input{
    background-color: transparent;
    border: none;
    order: 2;
    color: white;
    font-size: 16px;
    padding: 5px 0;
    color: rgb(211, 254, 255);
    transition: 0.4s;
}

.form-border .form-group input[type=submit]{
    margin: 15px 0;
    border: 1px solid rgba(255, 255, 255,0.5);
}

.form-border .form-group input[type=submit]:hover{
    background-color: rgba(116, 255, 255,0.1);
}

.form-border .form-group .line{
    order: 3;
    border-bottom: 1px solid rgba(255, 255, 255,0.5);
}

.form-border .form-group input:focus ~ label{
    transition: 0.4s;
}

.form-border .form-group input:focus{
    background-color: rgba(116, 255, 255,0.1);
}

.form-border .form-group input:focus ~ label{
    font-size: 1.2em;
    padding-bottom: 15px;
    text-shadow: 0 1px 2px white;
}