*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(105, 104, 104);
}
#mycanvas{
    background-color: rgb(195, 195, 195);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}