@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --color-anim: #e200c4;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.background section.top {
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: center;width: 100vw;
}
.background section.top h1 {
  
  background: linear-gradient(to left ,rgb(206, 0, 224) ,white);
  display: inline-block;
  position: absolute;
  transform: translate(50%);
  color: rgb(30, 30, 32);
  top: 10vh;
  right: 50%;
  /* background-color: rgb(225, 0, 255); */
  font-size: calc((calc(100vw) / 10) + calc(4vh));
}
.background section.top span.font-anim {
  animation: fontanim 5s both infinite;
  display: inline-block;
  position: absolute;
  right: 0;
  color: rgb(30, 30, 32);;
}
.background section.top span.font-display {
  color: rgb(255, 255, 255);
}

.background section.bottom {
  position: relative;
  flex: 1;
  filter: contrast(30);
  background-color: #fff;
}
.background section.bottom .ball {
  position: absolute;
  border-radius: 50%;
  width: 25vw;
  height: 10vw;
}
.background section.bottom .water {
  position: absolute;
  bottom: 0;
  height: 25vh;
  width: 100vw;
  background-color: var(--color-anim);
}
.background section.bottom .ballxcric1 {
  background-color: var(--color-anim);
  filter: blur(6px);
  left: 50vw;
  top: 50%;
  animation: anim1 3s both infinite;
}
.background section.bottom .ballxcric2 {
  background-color: var(--color-anim);
  filter: blur(6px);
  left: 25vw;
  top: 50%;
  animation: anim2 4s both infinite;
}
.background section.bottom .ballxcric3 {
  background-color: var(--color-anim);
  filter: blur(6px);
  left: 40px;
  top: 55%;
  animation: anim3 3s both infinite;
}
.background section.bottom .ballxcric4 {
  background-color: var(--color-anim);
  filter: blur(6px);
  left: 40px;
  top: 50%;
  animation: anim4 15s both infinite;
}
.background section.bottom .ballxcric5 {
  background-color: var(--color-anim);
  filter: blur(6px);
  width: 25vw;
  height: 15vw;
  left: 0;
  top: 50%;
  animation: anim4 10s both infinite;
}

@keyframes fontanim {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-25px, 30px);
  }
  60% {
    transform: translate(-10px, -20px) scale(1.5) rotate(90deg);
  }
  70% {
    transform: translate(15px, 22px) rotate(120deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes anim1 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-25px, 30px);
  }
  60% {
    transform: translate(-10px, -20px) scale(1.5);
  }
  70% {
    transform: translate(15px, 22px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes anim2 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-5px, 0) scale(2);
  }
  50% {
    transform: translate(-10px, 0);
  }
  80% {
    transform: translate(15px, 10px) scale(0.5);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes anim3 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-0, 0);
  }
  35% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(0, 0) scale(0);
  }
  60% {
    transform: translate(30px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes anim4 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(90vw, 0);
  }
  35% {
    transform: translate(80vw, 0);
  }
  50% {
    transform: translate(50vw, 0);
  }
  60% {
    transform: translate(20vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes anim5 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(95vw, 0);
  }
  35% {
    transform: translate(85vw, 0);
  }
  50% {
    transform: translate(40vw, 0);
  }
  60% {
    transform: translate(30vw, 0) scale(2);
  }
  100% {
    transform: translate(0, 0);
  }
}
