@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  --color-white: #ffffff;
  --color-ancend: #260f03;
  --color-primary: #3a1c08;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-group-toggle .btn.btn-contact,
.btn-group-toggle .btn.btn-order {
  display: none;
}
section.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgb(212, 198, 191);
  background: linear-gradient(
    35deg,
    rgba(212, 198, 191, 1) 0%,
    rgba(58, 28, 8, 1) 50%,
    rgba(58, 28, 8, 1) 100%
  );
}

.top-line {
  display: flex;
  position: relative;
}
.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.title {
  position: absolute;
  top: 23vh;
  margin-left: 5%;
  width: 55vw;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  font-size: 6.9vw;
  letter-spacing: 3px;
}
.title p {
  width: 40vw;
  font-size: 2vw;
  letter-spacing: 0.2vw;
  line-height: 1.5em;
  color: #c7c6c6;
  margin-top: 12px;
  margin-bottom: 50px;
}

.btn-group {
  display: flex;
  width: 30vw;
}
.btn {
  padding: 2vh 2.5vw;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.4vw;
  margin-right: 1.5vw;
}
.btn-contact {
  background-color: white;
  color: var(--color-ancend);
}
.btn-order {
  background-color: var(--color-ancend);
  color: white;
}

.image-decoration {
  right: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  position: absolute;
}
.image-decoration img:nth-child(2) {
  position: absolute;
  right: -13%;
  top: 25vh;
  width: 100%;
}
.image-decoration img:nth-child(1) {
  position: absolute;
  top: 8vw;
  right: 2vw;
  width: 80%;
}

.bottom-line {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 10px 5%;
}
.bottom-line .icon {
  display: inline-block;
  position: relative;
  width: 36px;
}
.bottom-line .icon img {
  width: 36px;
}
.line-rate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 72vw;
}

.bottom-line .line-rate span:last-child,
.bottom-line .line-rate span:first-child {
  display: inline-block;
  width: 30vw;
  height: 5px;
  background-color: var(--color-white);
  border-radius: 30px;
}
.bottom-line .line-rate span:nth-child(2) {
  color: var(--color-white);
}

.bottom-line .space {
  width: 10vw;
}

@media screen and (max-width: 530px) {
  .bottom-line {
    padding: 0;
    margin: 0;
    top: 0;
    width: 100vw;
    height: 15vh;
  }
  .bottom-line .icon{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom-line .icon img {
    position: relative;
    width: 8vw;
  }
  .container .bottom-line .line-rate {
    display: none;
  }

  .btn-group {
    display: none;
  }

  .banner {
    position: absolute;
    top: 15vh;
    display: flex;
    flex-direction: column;
  }
  .banner * {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .banner .title {
    position: relative;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
  }
  .banner .title h1 {
    font-size: 9vw;
  }
  .banner .title p {
    text-align: center;
    width: 60vw;
    font-size: 4.4vw;
  }
  .image-decoration {
    position: relative;
    top: -3vh;
    width: 100vw;
    height: 50vh;
  }
  .image-decoration img:nth-child(2) {
    top: 5vh;
    left: 25vw;
    width: 40vw;
  }
  .image-decoration img:nth-child(1) {
    top: 0;
    left: 25vw;
    width: 40vw;
  }

  .btn-group-toggle {
    display: flex;
    flex-direction: column;
    height: 18vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;
  }
  .btn {
    width: 80%;
    align-items: center;
  }

  .btn-group-toggle .btn.btn-contact,
  .btn-group-toggle .btn.btn-order {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
  }
}
