*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hasil{
    position: relative;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    width: 270px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    align-items: center;
    box-sizing: border-box;
    border: rgba(255, 255, 255, 0.336) 1px solid;
    border-radius: 10px;
    margin: 10px;
}

.card img{
    position: relative;
    border-radius: 10px;
    width: 90%;
}

.card .isi{
    position: relative;
    width: 90%;
}

.card .isi h3{
    padding: 10px;
}

.card .isi ul{
    padding: 10px;
    line-height: 1.6em;
    letter-spacing: 1px;
    list-style: none;
}

input{
    display: block;
    height: 30px;
    width: 80%;
    max-width: 400px;
    border: none;
    margin: 5px;
    font-size: 15px;
    text-align: center;
}
input[type=button]{
    background-color: rgb(214, 67, 22);
    color: #fff;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #fff;
    display: block;
    position: fixed;
    bottom: 10px;
    right: 5px;
    background-color: rgba(197, 209, 23, 0.363);
    border-radius: 50%;
    width: 40px;height: 50px;
    display: flex;justify-content: center;align-items: center;text-align: center;
}