*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background: $fff;
  }
  /* #1fbfb8, #05716c, #1978a5, #031163 */
  .toggle {
    position: fixed;
    top: 5px;left: 2vh;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .toggle span{
    width: 25px;
    height: 1px;
    background-color: rgb(63, 63, 63);
    transition: 0.2s;
  }

  .toggle-navigator{
    position: fixed !important;
    left: 0 !important;
  }
  .toggle-navigator-spanfirst{
    transform: rotate(45deg) translate(5px,6px) !important;
    background-color: #fff !important;
  }
  .toggle-navigator-spansec{
    width: 0 !important;
  }
  .toggle-navigator-spanthird{
    transform: rotate(-45deg) translate(5px,-6px) !important;
    background-color: #fff !important;
  }

.btn{
    position: relative;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    padding: 6px 10px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.btn img{
  width: 17px;
  margin-right: 10px;
}

.btn:hover{
  opacity: 0.7;
}


.btn-success{
  background-color: rgb(30, 148, 1);
}

.btn-primary{
  background-color: #1868ae;
}

.btn-danger{
  background-color: rgb(231, 38, 38);
}

.btn-orange{
  background-color: rgb(255, 136, 67);
}

.blue{
  display: inline;
  color: #039ee3;
}