body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}
canvas{
    background-color: white;
}
.images{
    display: none;
}
button{
    position: absolute;
    font-size: 4vmin;
    right: 50%;
    transform: translate(50%,0);
    top: 10px;
    padding: 5px 20px;
    border-style: none;
    background-color: rgb(111, 103, 222);
    color: white;
}
.display_none{
    display: none;
}