*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: rgb(88, 88, 88);
    width: 100vw;
    height: 100%;
}
#mycanvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(175, 175, 175);
}
.test{
    background-color: #ef4795;
}