@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    font-family: 'Poppins', sans-serif;
    --colorBlac: #0c0c0c;
    --colorOrange: #ff4500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: rgba(72, 72, 73, 0.11);
}

nav{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: var(--colorBlac);
    z-index: 5;
}
nav .icon{
    font-size: 32px;
    font-weight: 500;
    color: white;
}
nav .icon span{
    color: var(--colorOrange);
    font-weight: 800;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav ul li:last-child > a{
    background-color: var(--colorOrange);
    border-radius: 30px;
    text-transform: uppercase;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.home{
    overflow: hidden;
}
.home .container{
    position: relative;
    width: 100%;
    padding: 0 40px;
}
.home .container .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.home .container .title  h1{
    color: var(--colorBlac);
    font-size: 28px;
}
.home .container .title h1 span{
    color: var(--colorOrange);
}
.home .container .title form{
    border: 1px solid rgba(255, 68, 0, 0.425);
    padding: 5px;
    border-radius: 10px;
}
.home .container .title form input{
    display: none;
}
.home .container .title form button{
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: var(--colorBlac);
    font-weight: 300;
    /* display: none; */
}
.home .container .title form label{
    padding: 10px 30px;
    color: var(--colorBlac);
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 300;
    /* display: none; */
    /* display: unset; */
}
.home .container .title form #submit{
    display: none;
}
.home .container .title form #csvbulanan{
    display: none;
}
.home .container .title form #csvtahunan{
    display: none;
}
.home .container .grossupGroup{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}
.home .container .grossupGroup .form-group{
    display: flex;
}
.home .container .grossupGroup .form-group input{
    display: none;
}
.home .container .grossupGroup .form-group input:checked ~ label::after{
    transform: translateX(0);
}
.home .container .grossupGroup .form-group label{
    position: relative;
    display: block;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(48, 13, 0, 0.466);
}
.home .container .grossupGroup .form-group label::before{
    content: 'Non Gross-up';
    position: absolute;
    top: 0;
    left: 0;
    line-height: 30px;
    width: 100%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    font-weight: bold;
}
.home .container .grossupGroup .form-group label::after{
    content: 'Gross-up';
    position: absolute;
    top: 0;
    left: 0;
    line-height: 30px;
    width: 100%;
    height: 100%;
    background-color: yellow;
    font-weight: bold;
    transform: translateX(100%);
    transition: 0.3s;
}
.home .container .grossupGroup p{
    color: var(--colorBlac);
    font-size: 14px;
}

.displayUnset{
    display: unset !important;
}
.displayNone{
    display: none;
}
.displayFlex{
    display: flex !important;
}

.home .container .content{
    background-color: whitesmoke;
    height: 60vh;
    overflow: auto;
}
.home .container .content table{
    border-collapse: collapse;
}
.home .container .content table thead{
    background-color: rgb(48, 46, 46)
}
.home .container .content table thead tr th{
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.home .container .content table .tableBody{
    max-height: 40vh;
    overflow: auto;
}
.home .container .content table tbody tr:nth-child(even){
    background-color: rgba(72, 72, 73, 0.11);
}
.home .container .content table tbody tr td{
    text-align: center;
    padding: 10px;
    color: var(--colorBlac);
}



/* Loading Animasi */
.loading-animation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(29, 28, 28, 0.904);
    transition: 0.3s;
    z-index: 6;
}
.loading-animation ul{
    display: flex;
    width: 80px;
    justify-content: space-between;
}
.loading-animation ul li{
    display: inline-block;
    width: 5px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    animation: loading 1.5s infinite ease-in-out;
}
.loading-animation p{margin-top: 60px;letter-spacing: 2px;color: white;}
@keyframes loading{0%,100%{transform: scale(1);}50%{transform: scale(2);}}
.loading-animation ul li:nth-child(1){animation-delay: 0s;}
.loading-animation ul li:nth-child(2){animation-delay: 0.2s;}
.loading-animation ul li:nth-child(3){animation-delay: 0.4s;}
.loading-animation ul li:nth-child(4){animation-delay: 0.6s;}
.loading-animation ul li:nth-child(5){animation-delay: 0.8s;}
.loading-animation ul li:nth-child(6){animation-delay: 1s;}

/* Alert Box */
.containerModal{
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 100vw;
    top: 0;
    left: 0;
    transform: translateY(-200vh);
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 20vh;
    align-items: center;
    transition: 0.3s;
}
.containerModal .alertBox{
    position: relative;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(22, 22, 22, 0.295);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerModal .alertBox h3{
    width: 70%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--colorBlac);
}
.containerModal .alertBox ul{
    width: 100%;
    margin-top: 30px;
}
.containerModal .alertBox ul li{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    list-style: none;
}
.containerModal .alertBox ul li label{
    margin-bottom: 5px;
}
.containerModal .alertBox ul li select,
.containerModal .alertBox ul li input{
        list-style: none;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.178);
        padding: 10px;
        font-size: 18px;
}
.containerModal .alertBox ul li:last-child{
    position: relative;
    display: block;
    padding: 10px 0;
    margin-bottom: 40px;
}
.containerModal .alertBox ul li button{
    position: absolute;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--colorOrange);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 40%;
    right: 0;
    border-radius: 10px;
}
.toggleTransform{
    transform: translateY(0) !important;
}
