body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.width100 {
  width: 100%;
}
.width95 {
  width: 95%;
}
.width90 {
  width: 90%;
}
.width85 {
  width: 85%;
}
.width80 {
  width: 80%;
}
.width75 {
  width: 75%;
}
.width70 {
  width: 70%;
}
.width65 {
  width: 65%;
}
.width60 {
  width: 60%;
}
.width55 {
  width: 55%;
}
.width50 {
  width: 50%;
}
.btn {
  padding: 16px 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 10px;
}
.btn-primary {
  background-color: var(--color-primari);
  color: var(--color-white);
  font-size: 24px;
}
