.w100{
    width: 100% !important;
}
.w95{
    width: 95% !important;
}
.w90{
    width: 90% !important;
}
.w85{
    width: 85% !important;
}
.w80{
    width: 80% !important;
}
.w75{
    width: 75% !important;
}
.w70{
    width: 70% !important;
}
.w65{
    width: 65% !important;
}
.w60{
    width: 60% !important;
}
.w55{
    width: 55% !important;
}
.w50{
    width: 50% !important;
}
