@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  --color-primari: #1f003d;
  --color-secondary: #ff9b05;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-font-dark: #161616;
  --color-font-medium-dark: #333333;
  --color-font-light: #4e4e4e;
  --default-height-navbar: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  height: var(--default-height-navbar);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  transition: 0.2s;
}
.sticky {
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
}
nav .icon {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
}

nav .icon img {
  height: 25px;
  color: var(--color-primari);
}

nav .icon span {
  color: var(--color-primari);
  font-size: 10px;
}

nav ul.nav-menu {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul.nav-menu li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--color-font-dark);
  line-height: var(--default-height-navbar);
  font-size: 14px;
  padding: 0 3.33vw;
}

.active-menu::before {
  content: "";
  position: absolute;
  width: calc(100% - 3.33vw);
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: var(--color-secondary);
  font-weight: bold;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ========= HOME ========= */

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home .content-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.home .content-title h1 {
  width: 90%;
  font-size: 64px;
  letter-spacing: 2px;
  line-height: 100%;
  color: var(--color-font-dark);
}

.home .content-title h1 span {
  color: var(--color-secondary);
}
.home .content-title p:nth-child(2) {
  font-size: 18px;
  line-height: 100%;
  margin: 5% 0 0 0;
  letter-spacing: 2px;
  color: var(--color-secondary);
}

.home .content-title p:nth-child(3) {
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 2px;
  width: 87%;
  text-align: justify;
  margin: 5% 0 10% 0;
  color: var(--color-font-light);
}

.home .content-title a {
  text-transform: uppercase;
  border-radius: 0;
  line-height: 100%;
}

.home .content-picture {
  position: relative;
  width: 50%;
  height: 80vh;
}

.home .content-picture img {
  position: absolute;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .content-picture::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 20vw;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.44021358543417366) 11%,
    rgba(31, 0, 61, 1) 59%
  );
  transform: rotate(-45deg);
  top: 20vh;
  right: -25vw;
  z-index: -1;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
}

/* ========= ABOUT ========= */

.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-title {
  order: 2;
  width: 40%;
}
.about .about-title h1 {
  font-size: 46px;
  color: var(--color-font-dark);
  margin-bottom: 10px;
}
.about .about-title h1 span {
  color: var(--color-secondary);
}
.about .about-title p {
  color: var(--color-font-light);
  text-indent: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 2px;
  text-align: justify;
}
.about .about-title a {
  border-radius: 0;
}
.about .about-primary-picture {
  position: relative;
  order: 1;
  width: 50%;
  height: 60vh;
}
.about .about-primary-picture::before {
  content: "";
  position: absolute;
  width: 50vw;
  height: 40vh;
  bottom: 0;
  left: -25%;
  background-color: var(--color-primari);
  z-index: -2;
}
.about .about-primary-picture::after {
  content: "";
  position: absolute;
  width: 50vw;
  height: 1vh;
  bottom: 10px;
  left: -25%;
  background-color: var(--color-secondary);
  z-index: -1;
}
.about .about-primary-picture .img-box {
  position: absolute;
  height: 100%;
  width: 65%;
  top: 0;
  right: 0;
}
.about .about-primary-picture img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ========= PROJECTS ========= */

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.projects .projects-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .projects-title h1 {
  font-size: 46px;
  color: var(--color-font-dark);
  margin-bottom: 10px;
}
.projects .projects-title p {
  color: var(--color-font-light);
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 2px;
  text-align: center;
  width: 80%;
}
.projects .cards-group {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .cards-group .card {
  border-radius: 10px;
  height: 300px;
  width: 200px;
  margin: 30px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.212);
}
