@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  --color-primari: #1f003d;
  --color-secondary: #ff9b05;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-font-dark: #161616;
  --color-font-medium-dark: #333333;
  --color-font-light: #4e4e4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container{
    position: relative;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
}