
.pembelian{
    position: relative;
    width: 95%;
    max-width: 900px;
    /* border: 1px solid rgba(0, 0, 0, 0.26); */
    /* background-color: rgb(243, 243, 243); */
}

.pembelian form{
    width: 100%;
    position: relative;
    
}

.pembelian form .title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pembelian form .title img{
    width: 40px;
    fill: white;
}

.pembelian form .form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid rgba(99, 99, 99, 0.507);
    background-color: rgb(223, 222, 222);
    color: rgb(49, 49, 49);
    margin: 15px 0;
    padding: 15px 0;
}

.pembelian form .form-group .form-col{
    /* display: flex;
    flex-direction: column;
    justify-content: center
    ;align-items: center; */
}

.pembelian form .form-group .form-col .form-list{
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 8px 4px;
}

.pembelian form .form-group .form-row{
    display: flex;
    flex-wrap: wrap;
}

.pembelian form .form-group .form-row .form-list{
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: flex-end;
    margin: 8px 3px;
}

.pembelian form .form-group label{
    font-size: 18px;
    color: rgb(71, 70, 70);
}
.pembelian form .form-group input{
    order: 1;
    display: block;
    font-size: 18px;
    padding: 3px 0;
    border: none;
    color: rgb(83, 82, 172);
}

.pembelian form .form-group input[type=button]{
    margin-top: 15px;
    background-color: #fee715ff;
    width: 30px;
    color: #101820ff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.pembelian form .form-group input[type=button]:hover{
    background-color: rgb(231, 38, 38);
    color: white;
}



.pembelian form .form-group .form-row .form-list:nth-child(4),
.pembelian form .form-group .form-row .form-list:nth-child(5),
.pembelian form .form-group .form-row .form-list:nth-child(2){
    width: 80px;
}

.pembelian form .form-group .form-row .form-list:nth-child(3),
.pembelian form .form-group .form-row .form-list:nth-child(6){
    width: 130px;
}


.pembelian form .form-group .form-col .form-total {
    display: flex;
    flex-wrap: wrap;
}

.pembelian form .form-group .form-col .form-total .total{
    width: 200px;
    margin: 8px;
}

.pembelian form .form-group .form-col .form-total .total:nth-child(1){
    order: 1;
}

.pembelian form .action{
    position: absolute;
    right: 0;
}

.pembelian form .action ul{
    display: flex;
    flex-wrap: wrap;
}

.pembelian form .action ul li{
    position: relative;
    list-style: none;
}


.pembelian form .action ul img{
    width: 25px;
    margin-right: 5px;
}

.pembelian form .footer{
    height: 100px;
    width: 100%;
}







@media screen and (max-width:500px){
    .pembelian form .form-group .form-col .form-list{
        width: 280px;
    }
    .pembelian form .form-group .form-col .form-total .total{
        width: 100%;
        margin: 3px;
    }
    .pembelian form .form-group .form-col .form-total .total input{
        display: block;
        width: 100%;
    }
    .pembelian form .form-group .form-row .form-list{
        width: 100%;
    }
    .pembelian form .form-group .form-col .form-list input{
        display: block;
        width: 100% !important;
    }
    .pembelian form .action{
        width: 100%;
    }
}